<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ doctor.name }} - Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-8">
    <div class="max-w-xl mx-auto bg-white p-6 rounded-xl shadow">
        <h2 class="text-2xl font-bold text-blue-700 mb-4">{{ doctor.name }}</h2>
        <p class="mb-2"><strong>Specialty:</strong> {{ doctor.specialty }}</p>
        <p class="mb-2"><strong>Experience:</strong> {{ doctor.experience }}</p>
        <p class="mb-2"><strong>University:</strong> {{ doctor.university }}</p>
        <div class="mt-4 text-center">
        <a href="/doctors" class= "inline-block bg-blue-600 text-white px-6 py-2 rounded-md hover:bg-blue-700 transition"> Go to Doctors</a>
        </div>
        </div>
    <div class="mt-4 text-center">
    <a href="/dashboard" class="inline-block bg-blue-600 text-white px-6 py-2 rounded-md hover:bg-blue-700 transition">
      Go to Home
    </a>
</div>

</body>
</html>
